{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<form id="createTeam" method="post" action="{{ action }}">
    <section class="hero is-dark has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ title }}
                </h1>
                <div class="columns is-centered">
                    <div class="column is-three-quarters">
                        <div class="field">
                            <div class="control has-icons-right">
                                <input class="input is-large" required type="text" name="name" placeholder="Choose a name" value="{{ team.name|default('') }}">
                                <span class="icon is-medium is-right">
                                    <i class="fas fa-check is-success"></i>
                                </span>
                            </div>
                        </div>
                        <div class="buttons">
                            <a id="catch" class="button is-fullwidth is-large is-primary is-uppercase">Gotta catch 'em all!</a>
                            <button type="submit" id="saveTeam" class="button is-fullwidth is-large is-success is-uppercase">Save team!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div class="container">
        <div id="team" class="columns is-multiline">
            {% if team is defined %}
            {% for pokemon in team.pokemon %}
                {% include 'team/pokemon.html.twig' with { pokemon : pokemon } %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</form>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
