{% extends 'base.html.twig' %}

{% block title %}Your teams{% endblock %}

{% block body %}

    <section class="hero is-dark has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Your teams
                </h1>
                <div class="columns is-centered">
                    <div class="column is-three-quarters">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input is-large" type="text" id="filter" placeholder="Filter by type">
                                <span class="icon is-medium is-left">
                                    <i class="fas fa-search is-success"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>

    <div class="container">
        {% if teams|length == 0 %}
            <h1 class="title">You don't have any team!</h1>
            <h2 class="subtitle">Create your first one</h2>
            <a href="{{ path('team_create') }}" class="button is-success">Click here</a>
        {% endif %}
        <div class="columns is-multiline">
            {% for team in teams %}
                <div class="team column is-one-third-desktop is-half">
                    <nav class="panel is-warning">
                        <div class="panel-heading level">
                            <div class="level-left">
                                <h3 class="level-item title">
                                    {{ team.name }}
                                </h3>
                            </div>
                            <div class="level-right">
                                <div class="level-item tags has-addons">
                                    <span class="tag">Total Exp.</span>
                                    <span class="tag is-danger">{{ team.getTotalExp() }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-multiline">
                            {% for pokemon in team.pokemon %}
                                <div class="column is-half has-text-centered">
                                    <figure class="image is-64x64 is-inline-block">
                                        <img src="{{ pokemon.getSprite() }}" alt="{{ pokemon.name }}">
                                    </figure>
                                    <p class="subtitle is-6 is-capitalized">{{ pokemon.name }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="panel-block buttons are-small is-centered">
                            <h4 class="subtitle">Team types</h4>
                            <p class="type-buttons buttons">
                                {% for type in team.getPokemonTypes() %}
                                    <a class="button background-color-{{ type.label }} {{ type.label }} is-capitalized">{{ type.label }}</a>
                                {% endfor %}
                            </p>
                        </div>

                        <div class="panel-block">
                            <a href="{{ path('team_edit', {teamId : team.getId()}) }}" class="button is-link is-outlined is-fullwidth">
                                Edit
                            </a>
                        </div>
                    </nav>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
