<div class="pokemon column is-one-third-desktop is-half">
    <input type="hidden" name="pokemon[]" value="{{ pokemon.id }}">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img src="{{ pokemon.getSprite() }}" alt="{{ pokemon.name }}">
                    </figure>
                </div>
                <div class="media-content is-clipped">
                    <p class="title is-4 is-capitalized nowrap">
                        {{ pokemon.name }}
                        <span class="delete deletePokemon is-small is-pulled-right"></span>
                    </p>
                    <p class="subtitle tags has-addons">
                        <span class="tag">Exp  </span>
                        <span class="tag is-primary">{{ pokemon.exp }}</span>
                    </p>
                    <h6 class="title is-6">Abilities: </h6>
                    <div class="subtitle tags">
                        {% for ability in pokemon.abilities %}
                            <span class="tag">
                                {{ ability.label|replace({'-': ' '})|title }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>

       </div>
        <footer class="card-footer">
            {% for type in pokemon.types %}
            <div class="card-footer-item background-color-{{ type.label }} is-success is-uppercase">
                {{ type.label }}
            </div>
            {% endfor %}
        </footer>
    </div>
</div>


